---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@styles/main.css";
import { themeConfig } from "@config";

const { title = false, header = true, headerPage } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    {
      /*
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    强制 IE 最新渲染
    */
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content={themeConfig.site.author} />
    <meta name="description" content={themeConfig.site.description} />
    <meta name="generator" content={Astro.generator} />

    <title>
      {title ? title + " | " + themeConfig.site.title : themeConfig.site.title}
    </title>

    {/* Favicon */}
    {
      themeConfig.site.favicon.endsWith(".svg") && (
        <link
          rel="icon"
          type="image/svg+xml"
          href={"/favicon/" + themeConfig.site.favicon}
        />
      )
    }
    {
      themeConfig.site.favicon.endsWith(".png") && (
        <link
          rel="icon"
          type="image/png"
          href={"/favicon/" + themeConfig.site.favicon}
        />
      )
    }
    {
      themeConfig.site.favicon.endsWith(".ico") && (
        <link
          rel="icon"
          type="image/x-icon"
          href={"/favicon/" + themeConfig.site.favicon}
        />
      )
    }
    {
      /*
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    */
    }

    {/* Sitemap */}
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Fonts -->
    <!-- HarmonyOS Sans SC -->
    <link rel="stylesheet" href="/fonts/HarmonyOS_Sans_SC/result.css" />
    <!-- Noto Serif-->
    <link rel="preconnect" href="https://fontsapi.zeoseven.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fontsapi.zeoseven.com/285/main/result.css"
      onerror="this.href='https://fontsapi-storage.zeoseven.com/285/main/result.css'"
    />
    <!-- Maple Mono NF CN -->
    <link rel="preconnect" href="https://fontsapi.zeoseven.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fontsapi.zeoseven.com/442/main/result.css"
      onerror="this.href='https://fontsapi-storage.zeoseven.com/442/main/result.css'"
    />
    <link
      rel="stylesheet"
      href="https://fontsapi.zeoseven.com/442/italic/result.css"
    />
    <link
      rel="stylesheet"
      href="https://fontsapi.zeoseven.com/442/bold/result.css"
    />
    <link
      rel="stylesheet"
      href="https://fontsapi.zeoseven.com/442/bold-italic/result.css"
    />
    {
      themeConfig.tools.umami.enabled && (
        <script
          defer
          src={`${themeConfig.tools.umami.src}/script.js`}
          data-website-id={themeConfig.tools.umami.websiteID}
        />
      )
    }
  </head>

  <body>
    {header && <Header page={headerPage} />}

    <slot />

    <Footer />
  </body>
</html>
